* {
  user-select: none;
}

.layer {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(94, 89, 89, 0.5);
  font-family: 'Roboto', sans-serif;
  color: rgb(202, 191, 191);
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1560859581-d51f66c66233?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  font-weight: 500;
}
  
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h2{
  margin: 0;
  font-size: 70px;
  line-height: 400px;
  font-weight: 100;
}

p {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}


.form {
  line-height: 1.5;
  border: 0px;
  margin-top: 80px;
  width: 500px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

input {
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(139, 137, 137);
}

button {
  line-height: 1.5;
  border: 0px;
  border:1px solid white;
  font-size: 30px;
  color: rgb(66,69,86);
  padding: 5px 10px;
  background: rgba(255,255,255,1.0);
  border-radius: 10px;
  opacity: 0.7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}
input[type=text]:focus {
  outline: none;
}

button:hover{
  opacity: 1;
}

textarea:focus, input:focus{
  outline:black;
}